@model WorkersApp.Models.Position

@{
    ViewData["Title"] = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Stanowisko</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PositionID">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
