@model IEnumerable<WorkersApp.Models.Salary>

@{
    ViewData["Title"] = "Wszystkie wypłaty";
}

<h2>Wszystkie wypłaty</h2>

<p>
    <a asp-action="Create">Utwórz nową</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bonus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Worker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bonus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Worker.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.PositionID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SalaryID">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.SalaryID">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.SalaryID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
